.blogh1 {
  margin: 1vh;
  padding: 3vh 3vh 0 3vh;
}

.home {
  font-size: 3rem;
  text-decoration: none;
  color: black;
  opacity: 0.7;
}

.blogmain {
  margin: 5vw;
  padding: 5vw;
  align-self: center;
  flex-direction: column;
}

.blogpagesection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blogimage {
  max-width: 700px;
  align-self: center;
  margin-bottom: 10px;
}

.blogposttitle {
  align-self: flex-start;
  margin: 10px 10px 0 10px;
  padding: 10px;
  font-weight: 800;
  letter-spacing: 0.3rem;
}

.blogtime {
  margin: 0 10px 10px 10px;
  padding: 0 10px 10px 10px;
  font-weight: 200;
}

.blogtext {
  margin: 5px;
  padding: 5px;
  line-height: 1.5;
  max-width: 700px;
  text-align: left;
}

.blogend {
  margin-top: 50px;
  margin-bottom: 100px;
}

.sexy_line {
  display: block;
  border: none;
  color: white;
  height: 1px;
  background: black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 200;
  margin: 0 1vh 1vh 1vh;
  padding: 0 0 0 3vh;
}

.imageblock {
  display: flex;
  background: white;
  flex: 1;
}
